{% extends 'basic_admin.html'%}
{% load static%}


{%block content %}

    <br/>
                    <div class="row" style="margin-left:20px;">
                        <table class="table" id ="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Category</th>
                                    <th scope="col">Product</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Added By</th>
                                    <th scope="col">Added on</th>
                                 
                                </tr>
                            </thead>
                            <tbody id="items">  
                            
                           
                                {% for i in crop_p %}
                                    
                                        <tr>
                                            
                                            <td>{{i.category}}</td>
                                            <td>{{i.name}}</td>
                                            <td>{{i.quantity}}</td>
                                            <td>{{i.price}}</td>
                                            <td>{{i.userid}}</td>
                                            <td>{{i.publish_date}}</td>
                                            
                                        </tr>                
                                                 
                                      
                                {% endfor %}
                         
                            </tbody>
                        </table>
                    </div>    
         


{% endblock%}