{% extends './basic.html' %}

{% load static %}

{% block title %}
    crop guidelines
{% endblock %}


{% block body %}
<div class="row mt-4 ml-4">

                            <label ><b style="font-size:20px;">Department :    </b></label>
                              <table class="table table-hover ">
                                <thead>
                                  <tr>
                                    <td scope="col"></td>
                                    <td scope="col">Name</td>
                                    <td scope="col">PDF</td>

                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>1</td>
                                    <td>Wheat</td>

                                    <td><a href="https://ikhedut.gujarat.gov.in/Public/Docs/Ghau.pdf" role="tab" >Click here for details</a></td>
                                  </tr>

                                   <tr>
                                    <td>2</td>
                                    <td>Juwar</td>

                                    <td><a href="https://ikhedut.gujarat.gov.in/Public/Docs/juwar.pdf" role="tab" >Click here for details</a></td>
                                  </tr>

                                   <tr>
                                    <td>3</td>
                                    <td>Makai</td>

                                    <td><a href="https://ikhedut.gujarat.gov.in/Public/Docs/Maize.pdf" role="tab" >Click here for details</a></td>
                                  </tr>

                                   <tr>
                                    <td>4</td>
                                    <td>peanut</td>

                                    <td><a href="https://ikhedut.gujarat.gov.in/Public/Docs/magfali.pdf" role="tab" >Click here for details</a></td>
                                  </tr>

                                   <tr>
                                    <td>5</td>
                                    <td>Tal</td>

                                    <td><a href="https://ikhedut.gujarat.gov.in/Public/Docs/tal.pdf" role="tab" >Click here for details</a></td>
                                  </tr>

                                   <tr>
                                    <td>6</td>
                                    <td>mung beans</td>

                                    <td><a href="https://ikhedut.gujarat.gov.in/Public/Docs/mung.pdf" role="tab" >Click here for details</a></td>
                                  </tr>

                                   <tr>
                                    <td>7</td>
                                    <td>toor dal</td>

                                    <td><a href="https://ikhedut.gujarat.gov.in/Public/Docs/tuver.pdf" role="tab" >Click here for details</a></td>
                                  </tr>



                                </tbody>
                            </table>

{% endblock %}