{% extends './basic.html %}
{% load static %}

{% block body %}

  <div class="container" >
  <div class="row">
    <div class="col-lg-6 mx-auto">
        <div class="card my-3 mx-2" style="width: 16rem;" >
            <img src="{%static 'img/machine.jpeg'%}" class="card-img-top" alt="...">
            <div class="card-body">
            <h3 class="card-title">Add Machine</h3>
            <h5 class="card-text">
              Add Machine For Rent
            </h5><br>
            <center><a href="/machine/add_machine" class="btn btn-success">Add Machine</a></center>
            </div>
        </div>
    </div>
    <div class="col-lg-6 mx-auto">
       <div class="card my-3 mx-2" style="width: 16rem;">
            <img src="{%static 'img/machine.jpeg'%}" class="card-img-top" alt="...">
            <div class="card-body">
            <h3 class="card-title">Buy Machine</h3>
            <h5 class="card-text">
              Buy Machine For Rent
            </h5><br>
            <center><a href="/machine/buy_machine" class="btn btn-success">Buy Machine</a></center>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}